@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'kalpurush';
  src: url('/fonts/kalpurushANSI.ttf') format('truetype');  
}

.blog{
  font-family: 'kalpurush',sans-serif
}